<div class="mobile-navigation">
  <%= link_to root_path do %>
    <h1>
      <%= image_tag "logo.png", class: "home-logo" %>
      <span class="light">lagrant</span> <span class="pop">Orange</span>
    </h1>
  <% end %>
  <h2 class="link"><%= active_link_to "Music", music_path %></h2>
  <h2 class="link"><%= active_link_to 'Shows', shows_path %></h2>
  <h2 class="link"><%= active_link_to 'Contact', contact_path %></h2>
</div>
