<div class="regular-navigation">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "navigation-logo" %>
  <% end %>
  <h2 class="link"><%= active_link_to "Music", music_path %></h2>
  <h2 class="link"><%= active_link_to "Shows", shows_path %></h2>
  <h2 class="link"><%= active_link_to "Contact", contact_path %></h2>
</div>
