<% content_for(:title, "Flagrant Orange | Music") %>
<%= render "shared/navigation" %>

<div class="row shows text-center">
  <h4 class="quote">
    "Flagrant Orange deals in folk rock that wanders into interesting indie territory fairly frequently."
    <br>
    <em>- <%= link_to "The Portland Mercury", "https://www.portlandmercury.com/events/19686705/flagrant-orange-lauren-kershner-cj-hawley" %></em>
  </h4>

  <hr>
  <% if @songs.any? %>
    <% @songs.each do |song| %>
      <div class="lyric-display">
        <h3 class="show-lyrics display-inline-block"><%= song.title %></h3>
        <i class="fa fa-caret-up fa-lg"></i>
        <i class="fa fa-caret-down fa-lg"></i>
        <br>
        <% if song.audio.present? %>
          <%= audio_tag(song.audio, controls: true, controlsList: "nodownload") %>
        <% end %>
        <div class="lyrics">
          <p><%= song.lyrics %><p>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>

<div class="row shows">
  <%= image_tag 'full_band_1.jpg', class: 'regular-image' %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/add-on/jplayer.playlist.js"></script>

<script>
  $(document).ready(function() {
    $("audio").bind("contextmenu",function(){
      return false;
    });
  });
</script>
