<% content_for(:title, "Flagrant Orange | About") %>
<%= render "shared/navigation" %>

<h2 class="text-center padding-bottom-0">Flagrant Orange is an indie rock band from Portland, Oregon.</h2>

<h4 class="quote">Flagrant Orange’s songs try to capture the love, loss, loneliness and need to connect that define the human condition. Ones that only a semi-privileged white girl from Olympia and a poor brown guy who came of age on the punk scene in Berkeley could possibly create.</h4>

<div class="f-row">
  <div class="col-6">
    <%= image_tag "eric.jpg", class: "regular-image" %>
  </div>
  <div class="col-6">
    <h4 class="margin-top-0 padding-top-0">Eric Crowfoot (lead/rhythm guitar and vocals) and Misty Nikula (vocals and bass) met through an ad on Craigslist and have been making music since 2016.</h4>
  </div>
</div>

<div class="f-row">
  <div class="col-6">
    <%= image_tag "misty.jpg", class: "regular-image" %>
  </div>
  <div class="col-6">
    <h4 class="margin-top-0 padding-top-0">Misty is a compulsive “doer”- always checking things off lists - and orange is her second favorite color. Eric has PTSD and makes killer tacos. Sometimes he freaks out and breaks up the band. They have broken up 28 times in the last year.  Fortunately, they have gotten back together 29.</h4>
  </div>
</div>

<div class="f-row">
  <div class="col-6">
    <%= image_tag "jeremy.jpg", class: "regular-image" %>
  </div>
  <div class="col-6">
    <h4 class="margin-top-0 padding-top-0">Jeremy Philpott (drums) joined the band in 2018, helping to take their sound to a new level. Jeremy tells bad jokes, knows a lot about salt water aquaria and sometimes wears funny glasses.</h4>
  </div>
</div>

<div class="f-row">
  <div class="col-6">
    <%= image_tag "neal.jpg", class: "regular-image" %>
  </div>
  <div class="col-6">
    <h4 class="margin-top-0 padding-top-0">Neal “Bucky” Otis (keys) is the most recent addition to Flagrant Orange. He likes to wear a hat, eats a lot of ramen and also enjoys buying and selling cryptocurrencies  in his spare time.</h4>
  </div>
</div>
