<% content_for(:title, "Flagrant Orange | Contact") %>
<%= render "shared/navigation" %>

<%= content_tag(:h2, notice, class: 'notice') if notice %>

<div class="row shows">
  <div class="col-4 contact">
    <h2>Social</h2>
      <%= link_to image_tag("fb.png", class: 'icon'), "https://www.facebook.com/FlagrantOrange/" %>
  </div>
  <div class="col-4 contact">
    <h2>Booking</h2>
      <p><%= mail_to "misty@flagrantorange.com", "misty@flagrantorange.com", encode: "hex" %></p>
      <p><%= mail_to "eric@flagrantorange.com", "eric@flagrantorange.com", encode: "hex" %></p>
  </div>
  <div class="col-4 contact">
    <h2>Newsletter</h2>
    <%= form_tag '/subscribe', method: :post, class: 'subscribe-form' do %>
      <%= email_field_tag :email, nil, class: 'input-light', placeholder: 'Email' %>
      <%= submit_tag 'Subscribe', :class => 'btn btn-dark' %>
    <% end %>
  </div>
</div>
<div class="row shows">
  <%= image_tag 'full_band_bw_1.jpg', class: 'regular-image' %>
</div>
