<% content_for(:title, "Flagrant Orange | Shows") %>
<%= render "shared/navigation" %>

<div class="row shows text-center">
  <% if @shows.any? %>
    <h2 class="active text-center">Upcoming</h2>
    <hr>
    <% @shows.each do |show| %>
    <h3><%= show.beautified_date %></h3>
    <h3><%= show.where %></h3>
    <% if show.description %>
    <p><%= show.description %></p>
    <% end %>
    <hr>
    <% end %>
  <% else %>
    <h2 class="active text-center">Check back soon for show dates!</h2>
  <% end %>
</div>
<div class="row shows">
  <%= image_tag 'bw6.jpg', class: 'regular-image' %>
</div>
