<% content_for(:title, "Flagrant Orange | Shows") %>

<div class="regular-navigation">
  <%= link_to root_path do %>
    <h1><span class="light">Flagrant</span> <span class="pop">Orange</span></h1>
  <% end %>
  <h2 class="link"><%= link_to 'Music', music_path %></h2>
  <h2 class="active">Shows</h2>
  <h2 class="link"><%= link_to 'Contact', contact_path %></h2>
</div>

<div class="mobile-navigation">
  <%= link_to root_path do %>
    <h1 class="text-center"><span class="light">Flagrant</span> <span class="pop">Orange</span></h1>
  <% end %>
  <h2 class="link"><%= link_to 'Music', music_path %></h2>
  <h2 class="active">Shows</h2>
  <h2 class="link"><%= link_to 'Contact', contact_path %></h2>
</div>

<div class="row shows text-center">
  <% if @shows.any? %>
    <h2 class="active text-center">Upcoming</h2>
    <hr>
    <% @shows.each do |show| %>
    <h3><%= show.beautified_date %></h3>
    <h3><%= show.where %></h3>
    <% if show.description %>
    <p><%= show.description %></p>
    <% end %>
    <hr>
    <% end %>
  <% else %>
    <h2 class="active text-center">Check back soon for show dates!</h2>
  <% end %>
</div>
<div class="row shows">
  <%= image_tag 'bw6.jpg', class: 'regular-image' %>
</div>
